<!doctype html>
<html>
    <head>
        <title>Fiche présence</title>
        <% include ../layout %>
    </head>
    <body>

	<div class="wrapper">
        <% include ../Menu %>
		<div id="content">
        <div id="titre" class="container">
            <h2 class="pull-left">Choix de la fiche : </h2>
        </div>

        <div class="container">
            <form action="/<%= chemin %>" method="post">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Promotion :</label>
                        <select name="promo" class="form-control">
                            <% for(var i=0; i<promos.length; i++) {%>
                            <option value="<%=promos[i].idP%>"><%=promos[i].nomP%></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Date :</label>
                        <input type="date" class="form-control" name="date" required>
                    </div>
                </div>
                <div class="col-md-2">
                    <br><button type="submit" class="btn btn-success">Voir fiche de présence <span class="glyphicon glyphicon-list-alt"></span></button>
                </div>
            </form>
        </div>
		
		<div class="container" id="MainMenu">
            <div class="list-group panel">
				<ul class="nav nav-tabs">
					<% for(var i=0; i<=promos.length-1; i++) { %>
						<li  <% if(i == 1){ %>class="active"<% } %> ><a href="#<%= promos[i].nomP %>" data-toggle="tab" ><%= promos[i].nomP %></a></li>
					<% } %>
				</ul>
				<!-- ************************************************************** -->
						
				<div class="tab-content">
					<% for(var i=0; i<=promos.length-1; i++) { %>
						<div id="<%= promos[i].nomP %>" class="tab-pane fade in" >	
							<table class="table table-hover" id="tableToggle" style="background-color: white; height: 100px;">
								<thead>
									<tr>
										<th class="info" style="text-align: center">Seances</th>
										<th class="info" style="text-align: center">Date</th>
										<th class="info" style="text-align: center">Heure début/Heure fin</th>
										<th class="info" style="text-align: center">Statut</th>
										<th class="info" style="text-align: center">Générer</th>
									</tr>
								</thead>
								<tbody>
									<% for(var j=0; j<=matieres.length-1; j++) { %>
										<% if(matieres[j].promotionS == promos[i].idP) { %>
											<% for(var k=0; k<=seances.length-1; k++) {
												if(seances[k].matiereS == matieres[j].idM) {%>
													<tr>
														<td class="align-middle" style="text-align: center"><b><%=matieres[j].nomM %></b></td>
														<td class="align-middle" style="text-align: center"><b><%=(moment(seances[k].dateS).format("DD/MM/YYYY"))%></b></td>
														<td class="align-middle" style="text-align: center"><%=(moment(seances[k].heureDebut, "HH:mm:ss").format("HH:mm"))%> - <%=(moment(seances[k].heureFin, "HH:mm:ss").format("HH:mm"))%></td>
														<% if(seances[k].valideS!=0){%>
															<td class="align-middle alert alert-success" style="text-align: center">Validé</td>
														<%}%>
														<% if(seances[k].valideS==0){%>
															<td class="align-middle alert alert-danger" style="text-align: center">Non validé</td>
														<%}%>
														<td class="align-middle" style="text-align: center">
															<a class="btn btn-success generer" id="<% promos[i].nomP+" "+seances[k].dateS %>" href="/<%= chemin %>" role="button"><span class="glyphicon glyphicon-list-alt"></span></a>
														</td>
													</tr>
												<%} %>
											<%} %>
										<%}%>
									<%}%>
								</tbody>
							</table>
						</div>
					<%}%>
				</div>
				<!-- ************************************************************** -->           
			</div>
		</div>
		</div>
	</div>
    </body>
</html>