<!doctype html>
<html>
<head>
    <title>Détail Promotion</title>
    <% include ../layout %>
</head>
<body>
<div class="wrapper">
    <% include ../Menu %>
    <div id="content">
        <div class="container" >
            <div class="col-sm-6 col-sm-offset-3">
                <h1><span class="fa fa-sign-in"></span>Modifier la promotion</h1>

                <form id="form" name="promomodif">
                    <div class="form-group">
                        <label>Nom de la promotion</label>
                        <input type="text" class="form-control" name="nom" value="<%= promo[0].nomP %>" maxlength="50" />
                    </div>
                    <div class="pull-right">
                        <a href="/<%= chemin %>" class="btn btn-secondary btn-lg">Annuler</a>
                        <a class="btn btn-primary btn-lg" onclick="formPromoOK('<%= promo[0].idP %>', '<%= chemin %>')">Appliquer</a>
                        <a id="redirection" href="/<%= chemin %>"></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
